<div *ngIf="visible" class="modal--wrap"></div>
<div *ngIf="visible" class="modal">
  <form>
    <div class="mb-3">
      <h3>Feed track</h3>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Time</label
      >
      <input
        type="time"
        class="form-control"
        id="exampleFormControlInput1"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Duration</label
      >
      <input
        type="number"
        class="form-control"
        id="exampleFormControlInput1"
      />
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary me-2">Submit</button>
      <button type="button" (click)="hideModal()" class="btn btn-danger">Cancel</button>
    </div>
  </form>
</div>
