<div class="container">
  <div class="row pt-3 text-center">
    <div class="col-12 ">
      <p>Todays counts</p>
    </div>
    <div class="col-6">
      <p>Feed count: {{ todaysFeedCount }}</p>
    </div>
    <div class="col-6">
      <p>Nappy count: {{ todaysNappyCount }}</p>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col-lg-7 mx-auto mb-4">
      <button class="btn btn-primary btn-lg w-100" (click)="toggleFeedForm()">
        Add Feed
      </button>
    </div>
    <div class="col-lg-7 mx-auto">
      <button
        class="btn btn-outline-secondary btn-lg w-100"
        (click)="toggleNappyForm()"
      >
        Add Nappy
      </button>
    </div>
  </div>

  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs mt-4">
    <li [ngbNavItem]="1" class="w-50 text-center">
      <a ngbNavLink>Feeds</a>
      <ng-template ngbNavContent>
        <app-feed-timeline
          [feedData]="lastFeeds"
        ></app-feed-timeline>
      </ng-template>
    </li>
    <li [ngbNavItem]="2" class="w-50 text-center">
      <a ngbNavLink>Nappies</a>
      <ng-template ngbNavContent>
        <app-nappy-timeline [nappyData]="lastNappies"></app-nappy-timeline>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>

</div>
<app-feed-form
  (closeModal)="toggleFeedForm()"
  [visible]="feedFormVisible"
></app-feed-form>
<app-nappy-form
  (closeModal)="toggleNappyForm()"
  [visible]="nappyFormVisible"
></app-nappy-form>
