<div class="container">
  <div class="row pt-3">
    <div class="col-lg-7 mx-auto mb-4">
      <button class="btn btn-primary btn-lg w-100" (click)="toggleFeedForm()">
        Add Feed
      </button>
    </div>
    <div class="col-lg-7 mx-auto">
      <button
        class="btn btn-outline-secondary btn-lg w-100"
        (click)="toggleNappyForm()"
      >
        Add Nappy
      </button>
    </div>
  </div>
  <app-feed-timeline [feedData]="lastFeeds"></app-feed-timeline>
</div>
<app-feed-form
  (closeModal)="toggleFeedForm()"
  [visible]="feedFormVisible"
></app-feed-form>
<app-nappy-form
  (closeModal)="toggleNappyForm()"
  [visible]="nappyFormVisible"
></app-nappy-form>
