<app-nav></app-nav>

<div class="row pt-3 text-center">
  <div class="col-12">
    <h1>Nappy history</h1>
  </div>
</div>
<div class="row pt-3 text-center">
  <div class="col-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Nappy type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let nappy of paginatedNappies; index as i">
          <td>{{ nappy.date | date }}</td>
          <td>
            {{ nappy.time }}
          </td>
          <td>
            {{ nappy.type }}
          </td>
        </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-center p-2">
      <ngb-pagination
        [collectionSize]="nappies.length"
        [(page)]="page"
        [pageSize]="pageSize"
        (pageChange)="refreshFeeds()"
      >
      </ngb-pagination>
    </div>
  </div>
</div>
